<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628944254396-thri5ri4tpofnmrfipc9gch6dqetdc8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628944254396-thri5ri4tpofnmrfipc9gch6dqetdc8g</string>
	<key>API_KEY</key>
	<string>AIzaSyBXtBzR5v3NOdFo6K4t41PE3f4MuL3K3Ac</string>
	<key>GCM_SENDER_ID</key>
	<string>628944254396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uniknot.gostreaf</string>
	<key>PROJECT_ID</key>
	<string>gostreaf-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gostreaf-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628944254396:ios:709e21ec529c45f03927b9</string>
	<key>DATABASE_URL</key>
	<string>https://gostreaf-app.firebaseio.com</string>
</dict>
</plist>